<div class="container">
    <header>
        <a routerLink="/">
            <img src="/assets/logo_cgx.png" alt="">
        </a>

        <div class="float-right">
            <button *ngIf="!this.dataStore.isUserConnected()" routerLink="/login" mat-flat-button color="primary">
                Log in
            </button>

            <span *ngIf="this.dataStore.isUserConnected()">
                <button routerLink="/files" mat-flat-button color="primary">
                    <mat-icon>account_box</mat-icon>
                    User space
                </button>
                &nbsp;
                <button (click)="logout()" mat-stroked-button color="primary">
                    Log out
                </button>
            </span>
        </div>
    </header>

    <h1>Data processing for decision making</h1>
    <p>
        Depuis sa création en 1996, CGX conçoit et développe des outils à vocation métier afin de venir enrichir les
        fonctionnalités natives des grands systèmes d’informations géographiques au service des métiers de l’information
        aéronautique, de la montagne, de la Défense et de la Sécurité Civile.
    </p>
    <p>
        Société indépendante à fort potentiel de R&D et d’innovation, CGX intervient aujourd’hui dans plus de 45 pays,
        en direct ou via des partenariats adaptés, et est désormais reconnue comme un acteur incontournable pour ses
        solutions et services experts.</p>

    <img class="full-width" src="/assets/homepage_imgs.jpg" alt="">

    <app-footer></app-footer>
</div>