<div class="container">
    <header>
        <a routerLink="/">
            <img src="/assets/logo_cgx.png" alt="">
        </a>

        <div class="float-right">
            <button *ngIf="!this.dataStore.isUserConnected()" routerLink="/login" mat-flat-button color="primary">
                Log in
            </button>

            <span *ngIf="this.dataStore.isUserConnected()">
                <button routerLink="/files" mat-flat-button color="primary">
                    <mat-icon>account_box</mat-icon>
                    User space
                </button>
                &nbsp;
                <button (click)="logout()" mat-stroked-button color="primary">
                    Log out
                </button>
            </span>
        </div>
    </header>

    <h1>Data processing for decision making</h1>
    <p>
        Since 1996, CGX designs and develops business solutions that aim at enhancing the native functionalities of
        major geographic information systems for aerospace, ski and mountain resorts, as well as Defence & Civil
        Security.
    </p>
    <p>
        As an independent company, CGX operates in more than 45 countries, either directly or through appropriated
        partnerships and it is now reputed as a best-in-class provider for its solutions and technical services.</p>

    <img class="full-width" src="/assets/homepage_imgs.jpg" alt="">

    <app-footer></app-footer>
</div>