<div class="container">
    <header>
        <a routerLink="/">
            <img src="/assets/logo_cgx.png" alt="">
        </a>
        <button routerLink="/login" class="float-right" mat-flat-button color="primary">Log in</button>
    </header>

    <!-- Content itself -->
    <router-outlet></router-outlet>

    <footer>
        <p>Site réalisé par <a href="https://www.jzs.fr">Jean Z. SORDES</a> dans le cadre d'un exercice demandé par <a
                href="https://www.cgx-group.com">CGX Group</a> en Juillet 2019</p>
    </footer>
</div>