/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

$sm-width: 425px; // mobile
$md-width: 768px; // tablet
$lg-width: 1024px; // laptop

$primary-color: #673ab7;

body {
    min-height: 100vh;
    font-size: 14px;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3 {
    font-weight: 300;
}

img {
    max-width: 100%;
}

hr {
    border: solid .5px lightgray;
    margin: 2rem 0;
}

.float-right {
    float: right;
}

.children-inline-block {
    &>* {
        display: inline-block;
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.container {
    max-width: $md-width;
    width: 80vw;
    margin: auto;

    // mobile
    @media screen and (max-width: $sm-width) {
        width: calc(100% - 2rem);
    }
}

.inline-block {
    display: inline-block !important;
}

.display-block {
    display: block !important;
}

button,
.button {
    text-transform: uppercase;
}

header {
    padding: 2rem 0;
    height: 2.5rem;
    position: relative;

    // vertically centered content
    &>* {
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

footer {
    padding-top: 2rem;
    opacity: .5;

    p {
        margin: 0;
    }
}

.margin-y-1rem {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.margin-1rem {
    margin: 1rem;
}

.padding-1rem {
    padding: 1rem;
}

.padding-y-2rem {
    padding-left: 2rem;
    padding-right: 2rem;
}

mat-drawer-container {
    min-height: 100vh;
}

mat-drawer>* {
    width: 17rem !important;
}

.bold {
    font-weight: 500;
}

.bolder {
    font-weight: 600;
}

.light {
    color: darkgray;
}

.primary {
    color: $primary-color;
}

.menu-btn {
    position: fixed;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}

.drawer-layout .mat-form-field {
    width: 100%;
}

table {
    width: 100%;
    background: none !important;
}

.mat-column-filename {
    width: 50%;
}

.mat-column-author {
    width: 15%;
}

.mat-column-createdOn {
    width: 30%;
}

.mat-column-download {
    width: 5%;
}

.red {
    color: red;
}